language: node_js
node_js:
  - "node"

before_script:
  - npm i -g typescript
script:
  - cd momentum
  - npm install
  - npm run build
  - npm test
cache:
  directories:
    - "momentum/node_modules"

# deploy:
#   provider: script
#   script:
#     - cd $TRAVIS_BUILD_DIR
#     - chmod +x ./deploy.sh
#     - ./deploy.sh
#   on:
#     branch: master
