@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Oswald');

.App {
  text-align: center;
}

.App-logo {
  width: 50px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Custom styles */

.yellow {
  background-color: #FDC02F;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

#menu-bar {
  background-color: #434343;
}

  #menu-bar .item {
    padding: 1em;
  }

#footer {
  background: #C4C4C4;
}

  #footer .item {
    color: #EEEEEE;
  }
  
/* Page headers */
h1.page-header, h1.ui.page-header {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.7em;
  text-transform: uppercase;  
}

/* Form headers */
.ui.modal>.header:not(.ui) {
  font-family: 'Oswald', sans-serif;
  font-size: 1.7em;
}

/* Form labels */
.ui.form .field>label {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.2em;
  color: #434343;
  text-transform: uppercase;
}

/* Form buttons */
.ui.form .ui.button {
  font-family: 'Fira Sans', sans-serif;  
  text-transform: uppercase;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
