.task-input .ui.form .field:last-child {
 height: 100%;
}

.task-input .ui.form .column .field, 
.task-input .ui.form .column .fields {
 margin-bottom: 20px;
}

#time-estimate-group input {
  width: 120px;
}

#task-description {
 height: 200px;
}

.task-input .ui.form .column .task-priority .field {
  margin-bottom: 0;
}

/* .task-input .ui.checkbox  input[type=checkbox] {
  -ms-transform: scale(2); 
  -moz-transform: scale(2); 
  -webkit-transform: scale(2); 
  -o-transform: scale(2); 
  transform: scale(2);
  padding: 10px;
} */

/* .task-input .priority-label {
 position: relative;
} */
